# How do I change the data type of a pandas Series?
https://www.youtube.com/watch?v=V0AWyzVMf54

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv("data/drinks.csv")

In [3]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [4]:
drinks.beer_servings = drinks.beer_servings.astype("float")

In [5]:
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [6]:
# eğer doğrudan csv yi okurken dtype ı değiştirmek istersek
drinks = pd.read_csv("data/drinks.csv", dtype={'beer_servings': float})

In [8]:
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [9]:
# bazan string alana numerical işlemi yapmak gerekebilir, para birimi gibi
orders = pd.read_table("data/chipotle.tsv")

In [11]:
## burada göründüğü gibi item_price columnu bir string
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [13]:
# float a çevirip ortalamasını on fly hesaplayabiliriz
orders.item_price.str.replace("$","").astype("float").mean()

7.4643357853742973

In [16]:
# eğer binary yanıt arıyorsak, boolean değerini integera dönüştürür.
orders.item_name.str.contains("Chicken").astype("int").head()

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int64