# How do I explore a pandas Series?
https://www.youtube.com/watch?v=QTVTq8SPzxM

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("data/imdb_1000.csv")

In [3]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [8]:
# genre columnuna ait istatistikler
# top: en çok tekrar eden alan
# freq: en çok tekrar eden alan kaç kere tekrar etmiş.
# diğer öğrendiklerimizi kullanırsak, genresi drama ve comedy olmayanları tanımla demiş oluruz.
movies[~movies.genre.isin(["Drama","Comedy"])].genre.describe()

count        545
unique        14
top       Action
freq         136
Name: genre, dtype: object

In [27]:
# tüm genre leri sayabiliriz
movies.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: genre, dtype: int64

In [13]:
# tüm genre leri sayabiliriz ve yüzdelikleri olarak gösterebiliriz ve filtreyi hala uygulayabiliriz.
movies[~movies.genre.isin(["Drama","Comedy"])].genre.value_counts(normalize=True)

Action       0.249541
Crime        0.227523
Biography    0.141284
Adventure    0.137615
Animation    0.113761
Horror       0.053211
Mystery      0.029358
Western      0.016514
Thriller     0.009174
Sci-Fi       0.009174
Film-Noir    0.005505
Family       0.003670
Fantasy      0.001835
History      0.001835
Name: genre, dtype: float64

In [17]:
movies.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [18]:
movies.genre.nunique()

16

In [28]:
# 2 column arasında matrix yapmak için
pd.crosstab(movies.genre,movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0