# Pandas sampling
https://www.youtube.com/watch?v=oH3wYKvwpJ8

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv("data/ufo.csv")

In [4]:
# sadece 3 column getir ve bu random_state e göre her zaman aynısını getir demek.
# eğer random_state vermezsek her zaman farklı gelir 
ufo.sample(n=3, random_state=42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00

In [5]:
ufo.shape

(18241, 5)

In [8]:
3 / 18241.

0.00016446466750726386

In [22]:
ufo.sample(frac=0.00017, random_state=42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00

In [23]:
# bu tür şeyler. train ve test datasını ayırma konusunda faydalıdır.
# alttaki ufo datasının %75 ini train datası yapar
train = ufo.sample(frac=0.75, random_state=42)

In [63]:
# ve test datasının train datasından farklı olması gerekir. bu durumda train datasını negate ederiz
test = ufo.loc[~ufo.index.isin(train.index),:]